# Abhinav Thota

## Research Interest
I am interested in investigating where the ideal location in California (in terms of house pricing) is based on its location.

Specifically, would a location that is equidistant to all nearby city centres be better or would it be more expensive the closer it is to one city. If so, which city in particular. 

It would also be interesting to investigate between house types and households as it gets further away from a city centre. Maybe it's close to one of the urban city models.

In [1]:
import pandas as pd

data = pd.read_csv("../data/raw/California_Houses.csv")
data.head()

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,452600.0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.158342,735501.806984,67432.517001,21250.213767
1,358500.0,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733072,554279.850069,733236.884360,65049.908574,20880.600400
2,352100.0,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.717069,733525.682937,64867.289833,18811.487450
3,341300.0,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
4,342200.0,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568